# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Secrets
.env
.env.local

# Ingestion: downloaded source files & local dev scripts
ingestion/downloads/

# macOS
.DS_Store

# IDE
.idea/
.vscode/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
